@use "colors" as *;

@mixin skew($amount: 10deg) {
    transform: skew($amount, 0);
    &>*{ transform: skew(-$amount, 0); }
}

@mixin leaf($rad1: 15px, $rad2: 5px){
    border-radius: $rad1 $rad2 $rad1 $rad2;
}