@use "../core" as *;

.power-menu-panel{
    
    .power-menu-revealer{
        
        .power-menu-box{
            //background-color: Alpha($surface-1, .75);
            padding: 10px; padding-left: 15px;
            border-radius: 10px;
            border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-right-radius: 0;
            
            background: linear-gradient(to bottom, Alpha($surface-1, .5), Alpha($surface-1, .75));

            & label{
                background: radial-gradient(40% 40% at 50% 50%, $accent-1, transparent);
                font-family: $symbols-font;
                font-size: 32px;
                margin-bottom: 10px;
                border-radius: 15px;
                //border-bottom-right-radius: 0; border-top-left-radius: 0;
                padding: 3px;
                transition: all $anim-duration ease;
                &:hover{
                    background: radial-gradient(60% 60% at 50% 50%, $accent-1, transparent);
                    transform: scale(1.2) translateX(-5px);
                }
            }

            .close-panel{
                font-size: 24px;
                margin-bottom: 30px;
                &:hover{ transform: none; }
            }
        }

    }
}