@use "../core/" as *;

.workspaces-overview-window{
    @include skew(2deg);
    padding: 0 20px;
    margin: 5px 0;
}
.workspaces-overview{

    padding: 10px;
    border-radius: 15px;
    border: 2px solid Alpha($outline, .5);
    border-top: none; border-bottom: none;

    background: 
        radial-gradient(70% 40% at 50% 50%, $accent-1, transparent),
    ;
    background-color: Alpha($surface-0, .85);

    .row{
    
        .cell{
            
            //.thumb { }

            
            .picture, .filter {
                border: 2px solid transparent;
                border-left: none; border-right: none;
                border-radius: 10px 50px 10px 50px;
                padding: 20px;
            }
            .picture{
                transition: border-color $anim-duration ease;
            }
            .index{
                font-size: 24px;
                font-weight: 800;
                border-radius: 100%;
                border: 2px solid $font-shaded-color;
                color: $font-shaded-color;
                padding: 10px 15px;
                transition:
                    border-color $anim-duration linear,
                    transform $anim-duration ease
                    ;
            }

            &:hover{
                .picture { border-color: Alpha($outline, .75); }
                .index { border-color: $glow; transform: scale(1.5); }
                .filter { opacity: 0; }
            }
        }
    }
}