@use "../core" as *;

@keyframes player-playing-pulse {
    0% { background: radial-gradient(circle at center, Alpha($highlight-2, .9) 0%, transparent); }
	50% { background: radial-gradient(circle at center, Alpha($highlight-2, .9) 50%, transparent 40%); }
	100% { background: radial-gradient(circle at center, Alpha($highlight-2, .9) 0%, transparent); }
}
@keyframes player-playing-pulse-big {
    0%, 100%    { box-shadow: inset 0 0 15px $accent-3; }
	10%, 90%    { box-shadow: inset 0 0 10px $accent-2; }
    20%, 80%    { box-shadow: inset 0 0 12px $accent-1; }
    30%, 70%    { box-shadow: inset 0 0 16px $accent-2; }
    40%, 60%    { box-shadow: inset 0 0 22px $accent-3; }
    50%         { box-shadow: inset 0 0 25px $accent-3; }
}

.bar-player.closed{
    border-radius: 7px;
    border-top-left-radius: 0; border-top-right-radius: 0;
    box-shadow: inset 0 -3px 5px Alpha($highlight-2, .5);
    border: 1px solid Alpha($highlight-1, .3);
    border-top: none;
}
.bar-player.opened {
    box-shadow: inset 0 0 5px Alpha($highlight-2, .5);
    border: 1px solid Alpha($highlight-1, .3);
    border-top: none; border-bottom: none;
}

.bar-player, .bar-player-panel-content{
    min-width: 500px;
    padding: 0 10px;
}

.bar-player{
    background-color: Alpha(Shade($surface-4, .75), .25);
    transition: all $anim-duration ease;
    .play-pause{
        
        border-radius: 100%;
        padding: 0 7px;
        font-size: 20px;
        transition: all $anim-duration ease;
        margin-right: 10px;
        

        label { font-family: $symbols-font; color: $font-light; }

        &.playing { animation: player-playing-pulse 1s infinite ease; }
        &.stopped { animation:none; text-shadow: 2px 2px 10px $accent-4; }

        &:hover { opacity: .8; color: $highlight-0; background: radial-gradient(50% 50% at center, Alpha($accent-3, .5), transparent); }
    }


    .meta-progress{
        background: 
            radial-gradient(40% 50% at 50% 50%, Alpha($surface-3, .75), transparent),
            radial-gradient(50% 50% at 100% 50%, $accent-4, transparent),
        ;
        border-radius: 5px;
        border-top-left-radius: 0; border-bottom-right-radius: 0;

        .meta {
            min-height: 18px;
            & label { 
                font-family: $player-font-1, $player-font-2, $player-font-3, monospace; 
                font-style: italic;
                font-weight: 600;
                text-shadow: 1px 1px 1px $accent-4;
            }
        }
    }

    .visualizer-container {
        background: 
            radial-gradient(30% 50% at 60% 70%, Alpha($surface-4, .55), transparent),
            radial-gradient(50% 50% at 0% 50%, $accent-4, transparent),
        ;
    }
    
}
.progress-bar-container{
    min-height: 2px;
    
    //.progress-bg { background-color: white; }
    .progress-fill{
        //background-color: $surface-3;
        background: linear-gradient(to left, $highlight-1 1%, $accent-3 25%, $surface-3 70%);
    }
}

.cava-left { color: Shade($accent-4, 2.0); }
.cava-right { color: Shade($accent-4, 6.0); }



.player-window{
    .player-revealer{
        padding: 0 10px;
        .bar-player-panel-content{
            

            background-color: Alpha(Shade($surface-4, .75), .25);
            background: 
                radial-gradient(50% 50% at 50% 50%, $surface-2, transparent),
            ;
            box-shadow: inset 0 -5px 10px $accent-4;
            border-radius: 0 0 7px 7px;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 1px solid Alpha($highlight-1, .3);
            border-top: none;

            .track-title{
                background: radial-gradient(70% 50% at 50% 50%, $surface-3, transparent);
                padding: 1px 5px;
                border-radius: 15px 0 15px 0;
                font-family: $player-font-1, $player-font-2, $player-font-3, monospace; 
                font-style: italic;
                font-weight: 600;
                text-shadow: 1px 1px 1px $accent-4;
            }

            .player-controls{
                margin: 10px 0;
                .left{
                    min-width: 80px;

                    .player-button{
                        min-width: 10px;
                        font-family: $symbols-font; font-size: 18px;
                        margin: 3px 0; padding: 8px;
                        border-radius: 100%;
                        box-shadow: inset 0 0 10px Shade($accent-2, .5);
                        
                        
                        transition: transform $anim-duration ease;
                        &:hover{
                            transform: scale(1.2);
                            
                        }
                    }
                }
                .center {
                    .skip{
                        font-family: $symbols-font;
                        color: $font-light;
                        font-size: 28px;
                        transition: all $anim-duration ease;
                        &:hover{
                            transform: scaleX(1.3);
                            background: radial-gradient(50% 20% at 50% 50%, $accent-2, transparent);
                            padding: 0 10px;
                        }
                    }
                    .play-pause{
                        font-family: $symbols-font;
                        color: $font-light;
                        font-size: 52px;
                        margin: 0 20px;
                        padding: 5px;
                        box-shadow: inset 0 0 15px $accent-3;
                        border-radius: 100%;
                        min-width: 60px;
                        transition: all $anim-duration ease;
                        //animation: player-playing-pulse-big 1.5s infinite ease;
                        //&.playing { animation: player-playing-pulse-big 1.5s infinite ease; }
                        //&.stopped { animation:none; text-shadow: 2px 2px 10px $accent-4; }

                        &:hover{
                            opacity: .85;
                            transform: rotate(45deg);
                        }
                    }
                }
                .right{
                    
                    .slider{
                        min-width: 80px;
                        min-height: 5px;
                        transform: rotate(-35deg);
                        transition: transform $anim-duration linear;

                        &:hover { transform: rotate(-35deg) scaleY(2); }

                        &.volume-slider{
                            border-radius: 30px;
                            background-color: $accent-4;
                            .volume-slider-fill{
                                border-radius: 30px;
                                background-color: Shade($accent-3, .75);
                            }
                        }
                    }
                    label{
                        color: $font-light;
                        margin-top: 5px;
                        font-size: 18px;
                        transform: rotate(-35deg);
                    }
                }
            }

            .progress-bar-container{
                background-color: Shade($accent-3, .3);
                min-height: 5px;
                border-radius: 5px;
                transition: transform $anim-duration ease;
                .progress-fill{ border-radius: 5px; }

                &:hover { transform: scaleY(2); }
            }
        }
    }
    
}

