@use "../core" as *;

.power-hub{
    padding-right: 10px;
    font-size: 14px;
    font-family: $symbols-font, monospace;
    color: $font-base-color;
    font-weight: 600;

    .power-modes{
        border-radius: 10px;
        border: 1px solid $highlight-1;
        border-top: none;
        border-top-left-radius: 0; border-top-right-radius: 0;
        padding: 0 10px;
        margin: 0 10px;
        transition: all $anim-duration linear;

        .power-button {
            padding: 0;
            background: transparent;
            border-radius: 5px;
            margin: 0 2px;
            min-width: 25px;
            font-size: 16px;
            transition: all $anim-duration ease;

            &:hover{
                background: 
                    radial-gradient(40% 40% at 50% 50%, $accent-1, transparent),    
                    radial-gradient(50% 50% at 50% 50%, $accent-3, transparent),
                ;
                padding: 0 10px;
            }
        }
        label { font-family: $symbols-font; }

        .eco-modes{
            border-radius: 10px;
            &.ultra-eco-mode { box-shadow: inset 0 0 1px 2px $accent-1; }
        }
        .ultra-eco-button{
            border-radius: 10px;
            &.ultra-eco-mode {
                border-top-right-radius: 0; border-bottom-right-radius: 0;
                margin-right: 0;
                background: radial-gradient(100% 50% at 100% 50%, $accent-1, transparent);
                padding: 0;
            }
        }
        .eco-button{
            border-radius: 10px;
            &.active, &:hover.active { background: radial-gradient(60% 60% at 50% 50%, $accent-1, transparent); padding: 0; }
            
            &.ultra-eco-mode {
                border-top-left-radius: 0; border-bottom-left-radius: 0;
                margin-left: 0;
                background: radial-gradient(100% 50% at 0% 50%, $accent-1, transparent);
                padding: 0;
            }
        }
        .ballanced-button{
            border-radius: 100%;
            &.active, &:hover.active { background: radial-gradient(60% 60% at 50% 50%, $accent-1, transparent); padding: 0; }
        }
        .performance-button{
            border-radius: 100%;
            &.active, &:hover.active { background: radial-gradient(60% 60% at 50% 50%, $accent-1, transparent); padding: 0; }
        }
    }


    .idle-indicator{
        margin-right: 5px;
        padding: 0 6px;
        font-size: 16px;
        border-radius: 100%;
        transition: all $anim-duration ease;

        label{ font-family: $symbols-font; }

        &.active {
            background: radial-gradient(70% 70% at 45% 50%, Alpha($highlight-3, .3), transparent);
            text-shadow: 0 0 10px $accent-1;
        }
        &:hover{
            opacity: .8;
            padding: 0 10px;
            transform: scale(1.2);

            &.active{
                background: radial-gradient(50% 50% at 45% 50%, Alpha($highlight-3, .3), transparent);
            }
        }
    }



    .battery-indicator{
        @include skew(-10deg);
        background-color: Shade($surface-2, .5);
        transition: text-shadow $anim-duration linear, color $anim-duration linear;
        min-width: 70px;
        
        &.charging{
            text-shadow: 1px 1px 1px $accent-2;
        }
        &.warning{
            text-shadow: 0 0 10px $accent-3;
            color: Alpha(Shade($color-warning, 1.4), .75);
        }
        &.critical {
            text-shadow: 0 0 10px $accent-3;
            color: Alpha(Shade($color-critical, 1.5), .75);
        }
    }

    .power-menu-button{
        background-color: transparent;
        padding: 0 10px;
        font-size: 16px;
        color: $font-light-color;
        transition: all $anim-duration linear;

        &:hover {
            background: 
                radial-gradient(40% 40% at 50% 50%, $accent-1, transparent),    
                radial-gradient(50% 50% at 50% 50%, $accent-3, transparent),
            ;
            transform: scale(1.1);
            //padding: 0 15px;
            min-width: 35px;
        }

        &.menu-opened{
            @include skew(-15deg);
            min-width: 35px;
            &:hover{
                padding: 0 10px;
            }
        }
    }
    
}