@use "../core" as *;

.tray{
    padding: 0 10px;
}
.tray-item {
    margin-right: 3px;
    padding: 0 5px;
    
    popover {
        &>arrow { background-color: transparent; } //Alpha($outline, .5); }
        &>contents {
            background-color: Alpha($surface-1, .65);
            border: 1px solid Alpha($outline, .75);
            box-shadow: inset 0 0 3px $outline;
            border-radius: 5px 20px 5px 20px;
            padding: 10px 7px;
        }

        modelbutton {
            padding: 0 10px;
            font-size: 14px;
        }
        
        menuitem, modelbutton { transition: all $anim-duration linear; }
        menuitem:hover,
        modelbutton:hover {
            background-color: $surface-1;
            box-shadow: inset 0 0 5px 1px $outline;
            border-radius: 5px 10px 5px 10px;
        }
    }
}