@use "../core" as *;

.hider-btn {
    margin-right: 3px;
    opacity: .3;
    min-width: 18px;
    transition: opacity $anim-duration ease;
    font-family: $symbols-font;
    font-size: 18px;

    &:hover { opacity: 1; }
}

.workspaces {
    font-family: $symbols-font, monospace;
    font-size: 16px;
    padding: 0;
    padding-right: 10px;

    .tab-box {
        padding: 0 7px;
        min-width: 16px;
        border: 1px solid transparent;
        border-top: none; border-bottom: none;
        transition: background $anim-duration linear;

        &:hover {
            background: radial-gradient(circle at center, Alpha($accent-1, .75), transparent);
        }

        &.active {
            @include skew(-10deg);
            padding: 0 10px;
            background: radial-gradient(50% 50% at 50% 50%, Alpha($glow, .5), transparent);
            border-color: $outline;
            border-top: none; border-bottom: none;

            label { font-size: 17px; }
        }

        label {
            font-family: $symbols-font;
            color: $font-shaded-color;
            text-shadow: 1px 1px 1px $text-shade-color;
            margin: 0 3px;
        }
    }
}