@use "../core" as *;

.sidebar-button{
    font-size: 16px;
    font-family: $symbols-font;
    margin: 0 5px; margin-right: 15px;
    padding: 0 5px;
    transition: opacity $anim-duration ease;
    
    &:hover { opacity: .8; }
}

.sidepanel{
    margin-right: -60px;

    .sidepanel-revealer{
        
        padding: 0 30px;

        .sidepanel-content{
            @include skew(-3deg);
            
            padding: 10px 30px;
            padding-right: 70px;

            background: 
                radial-gradient(45% 10% at 10% 100%, Alpha($accent-1, .25), transparent),
                radial-gradient(45% 5% at 80% 0%, Alpha($accent-1, .25), transparent),
                radial-gradient(50% 50% at 50% 50%, Alpha($surface-1, .65), transparent)
            ;
            background-color: Alpha($surface-1, .55);
            box-shadow: 
                inset -5px 2px 5px Alpha($outline, .25),
                inset 2px -2px 5px Alpha($outline, .25),
            ;
        }
    }
}