$bar-background:          rgba(0, 0, 0, 0);

/* SURFACES */
$surface-1:               rgb(0, 0, 0);
$surface-2:               rgb(108, 19, 19);

/* ACCENTS */
$accent-1:                rgb(255, 0, 0);
$accent-2:                rgb(166, 14, 0);
$accent-3:                rgb(46, 13, 13);

/* HIGHLIGHTS */
$highlight-1:             rgb(222, 222, 222);
$highlight-2:             rgb(255, 97, 97);
$highlight-3:             rgb(255, 0, 43);

/* TEXT */
$font-base-color:         rgb(244, 207, 207);
$font-workspaces-color:   rgb(255, 217, 217);
$font-light-color:        rgb(254, 180, 180);

/* STATES */
$color-warning:           rgb(230, 173, 15);
$color-critical:          rgb(165, 18, 170);