/* PRIMARY */
$bar-background:    rgba(0,0,0,0);


/* SURFACES */
$surface-1:         rgb(0, 0, 0);
$surface-2:         rgb(0, 0, 0);
$surface-3:         rgb(135, 60, 60);
$surface-4:         rgb(69, 3, 3);

/* ACCENTS */
$accent-1:          rgb(214, 16, 16);
$accent-2:          rgb(133, 5, 5);
$accent-3:          rgb(198, 10, 10);
$accent-4:          rgb(83, 8, 8);


/* HIGHLIGHTS */
$highlight-0:       rgb(107, 15, 15);
$highlight-1:       rgb(184, 6, 6);
$highlight-2:       rgb(130, 130, 130);
$highlight-4:       rgb(139, 36, 36);


/* TEXT */
$font-base:         rgb(195, 206, 220);
$font-workspaces:   rgb(208, 201, 201);
$font-light:        rgb(215, 215, 215);

/* STATES */
$color-warning:     rgb(230, 173, 15);
$color-critical:    rgb(170, 18, 18);