$bar-background:          rgba(0, 0, 0, 0);

/* SURFACES */
$surface-1:               rgb(184, 184, 184);
$surface-2:               rgb(154, 171, 160);

/* ACCENTS */
$accent-1:                rgb(127, 121, 155);
$accent-2:                rgb(0, 0, 0);
$accent-3:                rgb(124, 124, 187);

/* HIGHLIGHTS */
$highlight-1:             rgb(0, 0, 0);
$highlight-2:             rgb(189, 188, 188);
$highlight-3:             rgb(76, 31, 88);

/* TEXT */
$font-base-color:         rgb(0, 0, 0);
$font-workspaces-color:   rgb(31, 32, 35);
$font-light-color:        rgb(0, 0, 0);

/* STATES */
$color-warning:           rgb(230, 173, 15);
$color-critical:          rgb(165, 18, 170);