$bar-background:          rgba(0, 0, 0, 0);

/* SURFACES */
$surface-1:               rgb(202, 202, 202);
$surface-2:               rgb(172, 172, 172);

/* ACCENTS */
$accent-2:                rgb(168, 168, 168);
$accent-3:                rgb(72, 69, 69);
$accent-1:                rgb(200, 194, 206);

/* HIGHLIGHTS */
$light:                   rgb(116, 104, 104);
$outline:                 rgb(5, 5, 5);
$glow:                    rgb(197, 153, 211);


/* TEXT */
$font-base-color:         rgb(19, 19, 19);
$font-shaded-color:       rgb(41, 42, 45);
$font-light-color:        rgb(74, 75, 81);
$text-shade-color:        rgb(211, 211, 211);

/* STATES */
$color-warning:           rgb(230, 173, 15);
$color-critical:          rgb(170, 18, 18);
$color-available:         rgb(168, 83, 183);