/* PRIMARY */
$bar-background:    rgba(0,0,0,0);


/* SURFACES */
$surface-1:         rgb(167, 167, 167);
$surface-2:         rgb(210, 210, 210);
$surface-3:         rgb(120, 140, 175);
$surface-4:         rgb(0, 0, 0);

/* ACCENTS */
$accent-1:          rgb(30, 30, 30);
$accent-2:          rgb(28, 28, 28);
$accent-3:          rgb(148, 148, 148);
$accent-4:          rgb(124, 146, 160);


/* HIGHLIGHTS */
$highlight-0:       rgb(0, 0, 0);
$highlight-1:       rgb(157, 184, 210);
$highlight-2:       rgb(235, 226, 226);
$highlight-4:       rgb(107, 117, 119);


/* TEXT */
$font-base:         rgb(19, 19, 19);
$font-workspaces:   rgb(0, 0, 0);
$font-light:        rgb(66, 66, 66);

/* STATES */
$color-warning:     rgb(230, 173, 15);
$color-critical:    rgb(170, 18, 18);