@use "../core" as *;

.desktop-button{
    font-family: $symbols-font;
    font-size: 16px;
    padding: 0 3px;
    opacity: .7;
    transition: all $anim-duration ease;

    &:hover{
        opacity: 1;
        text-shadow: 0 0 5px $accent-1;
    }
}

.desktop-panel{
    margin-left: -70px;
    
    .desktop-revealer{
        padding: 0 40px;
        
        .desktop-panel-content{
            @include skew(-3deg);
            padding: 0 50px;
            
            background: 
                radial-gradient(45% 10% at 10% 100%, Alpha($accent-3, .5), transparent),
                radial-gradient(45% 5% at 80% 0%, Alpha($surface-2, .25), transparent),
                radial-gradient(50% 50% at 50% 50%, Alpha($accent-3, .45), transparent)
            ;
            background-color: Alpha($surface-1, .75);
            box-shadow: 
                //2px 0 2px Alpha($surface-2, .1), 
                //2px 0 10px Alpha($accent-2, .3),
                inset 5px 2px 5px $surface-2,
                inset -2px -2px 5px $surface-2,
            ;
        }
    }
}


.desktop-wrapper{
    padding-left: 20px;
    //.desktop-header {   }

    .desktop-grid { 
        @include skew(-3deg);
        border-radius: 10px;
        padding: 10px;
    }
}

/*.desktop-grid-row{
    .desktop-grid-cell {  }
}
*/


.desktop-icon{
    //background-color: $accent-3;
    //background-color: red;
    border-radius: 15px;
    transition: all $anim-duration ease;

    //border: 1px solid Alpha($highlight-1, .1);
    //background-color: $surface-1;
    box-shadow: 0 0 1px Alpha($highlight-1, .35);

    .desktop-icon-glyph{
        font-family: $symbols-font;
        transition: all $anim-duration ease;
    }
    .desktop-icon-label{
        font-size: 8px;
        opacity: 0;
        transition: all $anim-duration ease;
        //transform: rotate(45deg);
    }

    &:hover{
        transform: scale(1.2); //rotate(-45deg);
        box-shadow: 0 0 30px $surface-2;
        //background-color: transparent;
        //border-radius: 100%;

        .desktop-icon-glyph{
            transform: scale(.7) ;//rotate(45deg);
        }
        .desktop-icon-label{
            opacity: 1;
            //transform: rotate(45deg);
        }
        
        
    }
}