$symbols-font:      "Symbols Nerd Font";
$regular-font:      "Commit Mono Nerd Font";
$player-font-1:     "FantasqueSansM Nerd Font"; 
$player-font-2:     "Pixellari"; 
$player-font-3:     "MesloLGSDZ Nerd Font Mono";
