@keyframes player-playing-pulse {
    0% { background: radial-gradient(circle at center, Alpha($highlight-2, .9) 0%, transparent); }
	50% { background: radial-gradient(circle at center, Alpha($highlight-2, .9) 50%, transparent 40%); }
	100% { background: radial-gradient(circle at center, Alpha($highlight-2, .9) 0%, transparent); }
}