@use "./core/" as *;

@keyframes lockscreen-anim {
    0%, 100% {
        background: 
            radial-gradient(100% 100% at 50% 50%, Alpha($surface-1, .99), transparent),
            
            linear-gradient(to top right,    $surface-0 5%, transparent 30%),
            linear-gradient(to top left,     $surface-0 5%, transparent 30%),
            linear-gradient(to bottom right, $surface-0 5%, transparent 30%),
            linear-gradient(to bottom left,  $surface-0 5%, transparent 30%),
            ;
    }
    25%, 75% {
        background: 
            radial-gradient(80% 80% at 50% 50%, Alpha($surface-1, .75), transparent),
            
            linear-gradient(to top right,    $surface-0 5%, transparent 40%),
            linear-gradient(to top left,     $surface-0 5%, transparent 40%),
            linear-gradient(to bottom right, $surface-0 5%, transparent 40%),
            linear-gradient(to bottom left,  $surface-0 5%, transparent 40%),
            ;
    }
    50% {
        background: 
            radial-gradient(50% 50% at 50% 50%, Alpha($surface-1, .65), transparent),
            
            linear-gradient(to top right,    $surface-0 5%, transparent 50%),
            linear-gradient(to top left,     $surface-0 5%, transparent 50%),
            linear-gradient(to bottom right, $surface-0 5%, transparent 50%),
            linear-gradient(to bottom left,  $surface-0 5%, transparent 50%),
            ;
    }
}


.lockscreen-window{
    .lockscreen-revealer{
        .lockscreen-content{    
            background: 
                radial-gradient(150% 150% at 50% 50%, $surface-1, transparent),    
                radial-gradient(100% 100% at 50% 50%, $surface-2, transparent),
            
                linear-gradient(to top right,    $surface-0 5%, transparent 30%),
                linear-gradient(to top left,     $surface-0 5%, transparent 30%),
                linear-gradient(to bottom right, $surface-0 5%, transparent 30%),
                linear-gradient(to bottom left,  $surface-0 5%, transparent 30%),    
            ;

            
            transition: all $anim-duration ease-in-out;
            animation: lockscreen-anim 5s infinite ease-in-out;
            background-color: Alpha($surface-1, .75);
            border-radius: 50px;
            box-shadow: 0 0 50px 100px black;
            
            .lockscreen-bg{
                //background-color: Alpha(red, .5);
                filter: blur(5px) brightness(.75);
                background-size: cover;
                border-radius: 50px;
                box-shadow: inset 0 0 25px $glow, inset 0 0 15px $accent-1,;
            }

            .widgets{

                .lock-label{
                    font-size: 48px;
                }
            }
        }
    }
}