.hider-btn {
    margin-right: 3px;
    opacity: .3;
    min-width: 18px;
    transition: opacity $anim-duration ease;
    font-family: $symbols-font;
    font-size: 18px;

    &:hover {
        opacity: 1;
    }
}

.workspaces {
    font-family: $symbols-font, monospace;
    font-size: 16px;
    padding: 0;
    padding-right: 10px;

    .tab-box {
        padding: 0 7px;
        min-width: 16px;
        border-radius: 10px;
        border-bottom-left-radius: 0; 
        border-bottom-right-radius: 0;
        border: 1px solid transparent;
        border-top: none; border-bottom: none;
        transition: background $anim-duration linear;

        &:hover {
            background: radial-gradient(circle at center, Alpha($highlight-1, .65), transparent);
        }

        &.active {
            @include skew(-10deg);
            padding: 0 10px;
            background: radial-gradient(circle at center, Alpha($highlight-1, .65), transparent);
            background-color: black;

            border-radius: 0px;
            border-color: $surface-3;
            border-top: none; border-bottom: none;

            label { font-size: 17px; }
        }

        label {
            font-family: $symbols-font;
            color: $font-workspaces;
            margin: 0 3px;
        }
    }
}